@charset "UTF-8";
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form{
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
}